.messages-error{
    color: red;
}
.error-input{
    border: 1px solid red;
}
.customer-address{
    width: 150px;
}
.customer-status{
    width: 110px;
}
.customer-category{
width: 105px;
}

.customer{
    width: 120px;
}